body{
	background-image: -moz-linear-gradient(top, #FFFFFF, #C0C0C0);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #C0C0C0));
background-color: #DDDDDD;
}

nav>form{
	
	margin-top:55px;
	float:right;
	margin-left:20px;
	
}
span{
	width:3px;
	height:25px;
	text-shadow: 5px 2px 4px #000000;
	display:inline;
	border:2px solid black;
	
}
ul{
	visibility:hidden;
	position:absolute;
}
.menu{
	visibility:visible;
	position:absolute;
	list-style-type:none;
	-webkit-box-shadow: 0px 0px 5px #000000;
	-moz-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	text-shadow: 0px 0px 6px #800000;;
	border: 0px solid #FFFFFF;
	background-color: #696969;
	background-size:cover;
	padding: 20px;
	text-align:center;
	
	-webkit-transform: scale(1.5) rotate(360deg); 
	-moz-transform: scale(1.5) rotate(360deg); 
	-o-transform: scale(1.5) rotate(360deg); 
	transform: scale(1.5) rotate(360deg); 
	transition:transform 1s ease-out;


}

.menu ul li{
	list-style-type:none;
	text-align:center;
}

nav>div>ul{
	list-style-decoration:none;
	visibility:hidden;
}
input[type=text]{
	color:blue;
	color:#A0522D;
	background-color:white;
}
section>div{
	display:inline-block;
	 padding: 10px;
  	margin: 30px;
  	height: 500px;
  	 width:1100px;
  	border:1px solid black;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 4px 4px 16px #8B4513;
-moz-box-shadow: 4px 4px 16px #8B4513;
box-shadow: 4px 4px 16px #8B4513;

}


aside{
	height:2740px;
	
}

#c1{
	
	background-image:url("images/FB_IMG_1464884924594.jpg");
	background-repeat:no-repeat;
	background-size:600px 500px;
	
}
#c2{
	background-image:url("images/FB_IMG_1466969831444.jpg");
	background-repeat:no-repeat;
	background-size:600px 500px;
	
}
#c3{
	background-image:url("images/FB_IMG_1466619226339.jpg");
	background-repeat:no-repeat;
	background-size:600px 500px;
}

#c4{
	background-image:url("images/FB_IMG_1466969812567.jpg");
	background-repeat:no-repeat;
	background-size:600px 500px;
}

#c5{
	background-image:url("images/FB_IMG_1466969819076-1.jpg");
	background-repeat:no-repeat;
	background-size:600px 500px;
}

